MILVUS_URI=http://127.0.0.1:19530
MILVUS_USER=
MILVUS_PASSWORD=
COLLECTION_NAME=personalive_knowledge_v1

MYSQL_HOST=127.0.0.1
MYSQL_PORT=13306
MYSQL_DATABASE=personalive
MYSQL_USER=personalive
MYSQL_PASSWORD=replace-with-mysql-password
MYSQL_ROOT_PASSWORD=replace-with-a-different-root-password

APP_HOST=127.0.0.1
APP_PORT=8001

RAG_PIPELINE=default
MAX_REWRITE_COUNT=2
MAX_GENERATION_RETRY=2
DEFAULT_CONFIDENCE_THRESHOLD=0.75
MAX_UPLOAD_MB=50
